# Dependencias
node_modules/
jspm_packages/

# Archivos comprimidos y pesados
*.tar
*.zip
*.rar
*.gz

# Builds y compilaciones
dist/
build/
.next/
out/

# Entornos y secretos
.env
.env.local

# Logs y sistemas operativos
npm-debug.log*
.DS_Store
Thumbs.db